out
BoxRGCN_Data
Github_downloads\mpqe_master\AIFB
Github_downloads\mpqe_master\AM
Github_downloads\mpqe_master\MUTAG
Github_downloads\mpqe_master\AIFB.tgz
Github_downloads\mpqe_master\AM.tgz
Github_downloads\mpqe_master\MUTAG.tgz
__pycache__
